body {
    background: #CBE280;
    padding: 20px;
    font-family: Arial;
}

.banner {
    background: #CBE280;
    border-radius: 4px;
    padding: 20px;
    font-size: 25px;
    text-align: center;
    margin: 0;
}

#breed_image {
    background: #CBE280;
    width: 460px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#breed_data {
    background: #CBE280;
    border-radius: 4px;
    padding: 20px;
    font-size: 12px;
    text-align: left;
    transition: all 0.2s;
    margin: 0 auto;
    width: 500px;
}

.artist_section {
    background: #CBE280;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    transition: all 0.2s;
    margin: 0 auto;
    width: 500px;
}

.song_section {
    background: #CBE280;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    transition: all 0.2s;
    margin: 0 auto;
    width: 500px;
}